<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greeting</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      Please tell me little bit about yourself before we tell you about Ninjas.
    </p>
    <form class="" action="ninjas" method="post">
      Name:<input type="text" name="name">
      Birthday:<input type="date" name="birthday">
      Male:<input type="radio" name="male">
      Female:<input type="radio" name="female">
      <button>Submit</button>
    </form>
    <!-- <a href=http://list25.com/25-things-you-didnt-know-about-ninjas/></a> -->


  </body>
</html>
