<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>5 Things You Didn't Know About Ninjas</h1>
    <ol>
      <li>Ninjas tell time like bosses</li>
      <img src="{{ url_for('static',filename='ninja_time.jpg')}}" alt="" />
      <li>Ninjas don't get lost</li>
      <img src="{{ url_for('static',filename='ninja_hide.jpg')}}" alt="" />
      <li>Ninjas rest on top of trees</li>
      <img src="{{ url_for('static',filename='ninja_tree.jpg')}}" alt="" />
      <li>Ninjas are survivalists</li>
      <img src="{{ url_for('static',filename='ninja_survival.jpg')}}" alt="" />
      <li>Ninjas carry crickets in their pocket</li>
      <img src="{{ url_for('static',filename='ninja_crickets.jpg')}}" alt="" />
    </ol>


  </body>
</html>
