<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
  </head>
  <body>
    <h1>Dojo Survey</h1>
    <form action="/survey" method="post">
      Your Name: <input type="text" name="name"><br>
      <label>Dojo Location:</label>
      <select name="location">
        <option>San Jose</option><
        <option>Chicago</option>br
        <option>Option</option>
        <option>Option</option>
      </select><br>
      <label>Favorite Language:</label>
      <select name="language">
        <option>Python</option>
        <option>Ruby</option>
        <option>Javascript</option>
        <option>Java</option>
      </select><br>
      <label>Comment(optional)</label><br>
      <textarea name="Comment" rows="8" cols="40"></textarea><br>
      <button>Submit</button>

    </form>

  </body>
</html>
